@import "tailwindcss";

#root {
  max-width: 720px;
  padding: 10px;
  background-color: #f0f0f0;
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  color: #301927;
}

.top100_Per{
  top: 100%;
}


